/target
/node_modules
/client/node_modules
.idea
dist
*.log
perf.data
flamegraph.svg
examples/oeo-full.omn
**/.tui-test/cache
**/node_modules
**/*.bck
.direnv
editors/code/server/owl-ms-language-server
editors/code/server/owl-ms-language-server.exe
